<!--

<div class="container">


  <div class="row">

      <div class="col-lg-12">

        <h1>Lazy Loading</h1>
        <hr>

          <a routerLink="/">Home</a>
          <a routerLink="/eager/child1">Eager Loading child1</a>
          <a routerLink="/eager/child2">Eager loading child2</a>
          <a routerLink="/lazy/child1">Lazy Loading Child1</a>
          <a routerLink="/lazy/child2">Lazy Loading Child2</a>

      </div>

      <hr class="mt-3">

  </div>

  <router-outlet></router-outlet>

</div>
 -->






















 <div class="container">

  <div class="col-lg-12">
    <a routerLink="">Home</a>

    <a routerLink="/lazy/child1">Lazy Child 1</a>
    <a routerLink="/lazy/child2">Lazy Child 2</a>

  </div>

  <router-outlet></router-outlet>

 </div>

 
